<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" />

<div class="navbar">
  <div class="logo"></div>

  <div class="nav-links">
    <div class="nav-item dropdown" (click)="toggleDropdown('product')" #productRef>
      Product <span [class.rotated]="activeDropdown === 'product'">▾</span>
      <div class="dropdown-menu" [class.show]="activeDropdown === 'product'">
        <div class="dropdown-item">
          <img src="assets/images/appbuilder.svg" alt=""> App Builder
        </div>
        <div class="dropdown-item">
          <img src="assets/images/workflows.svg" alt=""> Workflows
        </div>
        <div class="dropdown-item">
          <img src="assets/images/database.svg" alt=""> Database
        </div>
      </div>
    </div>
    <div class="nav-item show">Pricing</div>
    <div class="nav-item show">Blog</div>
    <div class="nav-item dropdown" (click)="toggleDropdown('resources')" #resourcesRef>Resources <span
        [class.rotated]="activeDropdown === 'resources'">▾</span>
      <div class="dropdown-menu" [class.show]="activeDropdown === 'resources'">
        <div class="dropdown-item">
          <img src="assets/images/templates.svg" alt=""> Templates
        </div>
        <div class="dropdown-item">
          <img src="assets/images/blogs.svg" alt=""> Blogs
        </div>
      </div>
    </div>
    <div class="nav-item show">Download</div>
    <div class="nav-item show">Sign in</div>
  </div>

  <div class="cta-button">Start for free</div>
</div>


<div class="page">
  <div class="divw-responsive-wide-parent">
    <div class="divw-responsive-wide">
      <div class="divflex">
        <div class="heading-1">
          <div class="lorem-ipsum-dolor-container">
            <span>Lorem ipsum </span>
            <span class="dolor-sit-amet">dolor sit amet</span>
            <span>, </span>
          </div>
          <div class="mollit-anim-laborum-container">
            <span> mollit anim </span>
            <span class="laborum">laborum.</span>
          </div>
        </div>
        <div class="spanbody-medium">
          <div class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </div>
        </div>
        <div class="button">
          <div class="spanbody-medium1">
            <div class="start-for-free">Start for free</div>
          </div>
          <img class="svg-icon" alt="" src="assets/images/Vector.svg">

          <div class="button-child">
          </div>
        </div>
        <div class="spanbody-small">
          <div class="free-plan-no">Free plan • No card required</div>
        </div>
      </div>
      <img class="divw-responsive-wide-child" alt="" src="assets/images/hero images 1.svg">

    </div>
    <div class="heading-2-parent">
      <div class="heading-2">
        <div class="excepteur-sint-occaecat">Excepteur sint occaecat dolore</div>
        <div class="link">
          <img class="b6417eaddee16db72e8f06f2afe997-icon" alt=""
            src="assets/images/3b6417eaddee16db72e8f06f2afe997a148a76bf-259x258.svg.svg">

          <div class="excepteur-sint-occaecat">Documents</div>
        </div>
        <div class="link1">
          <img class="ec6bdfc1870ae942f24644f5115cfe-icon" alt=""
            src="assets/images/9ec6bdfc1870ae942f24644f5115cfe5bf9cfa80-260x258.svg.svg">

          <div class="heading-22">Email</div>
        </div>
        <div class="link2">
          <img class="ce22a8903d7eac246e6afaf0b3a47e-icon" alt=""
            src="assets/images/5ce22a8903d7eac246e6afaf0b3a47ecd8c10b7d-259x259.svg.svg">

          <div class="heading-22">Events</div>
        </div>
        <div class="link3">
          <img class="a7e7d9aa96c915a5f0bc1b3cc9a8a5-icon" alt=""
            src="assets/images/0a7e7d9aa96c915a5f0bc1b3cc9a8a5b1fc45320-259x258.svg.svg">

          <div class="heading-22">Files</div>
        </div>
      </div>
      <div class="frame-parent">
        <div class="lorem-ipsum-parent">
          <div class="lorem-ipsum">Lorem Ipsum</div>
          <div class="ut-enim-ad">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</div>
        </div>
        <div class="lorem-ipsum-parent">
          <div class="lorem-ipsum">Lorem Ipsum</div>
          <div class="ut-enim-ad">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</div>
        </div>
        <div class="lorem-ipsum-parent">
          <div class="lorem-ipsum">Lorem Ipsum</div>
          <div class="ut-enim-ad">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</div>
        </div>
      </div>
    </div>
    <div class="link-parent">
      <div class="link4">
        <div class="divflex1">
          <div class="spanbody-small1">
          </div>
          <div class="spanbody-medium2">
            <div class="duis-aute-irure">Duis aute irure dolor in reprehenderit</div>
          </div>
          <div class="spanbody-small2">
            <div class="ut-enim-ad3">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat.</div>
          </div>
        </div>
        <img class="icon" alt="" src="assets/images/15.svg">

        <div class="divrelative">
        </div>
        <div class="divjustify-center-center">
          <img class="svg-icon1" alt="" src="assets/images/after.svg">
        </div>
      </div>
      <div class="link-group">
        <div class="link5">
          <div class="divflex1">
            <div class="spanbody-small3">
            </div>
            <div class="spanbody-medium2">
              <div class="duis-aute-irure">Duis aute irure dolor in reprehenderit</div>
            </div>
            <div class="spanbody-small2">
              <div class="ut-enim-ad3">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</div>
            </div>
          </div>
          <div class="divjustify-center-center1">
            <img class="svg-icon1" alt="" src="assets/images/after.svg">

          </div>
          <img class="group-7-1" alt="" src="assets/images/Group 7.svg">

        </div>
        <div class="link6">
          <div class="divflex1">
            <div class="spanbody-small3">
            </div>
            <div class="spanbody-medium2">
              <div class="duis-aute-irure">Duis aute irure dolor in reprehenderit</div>
            </div>
            <div class="spanbody-small2">
              <div class="ut-enim-ad3">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</div>
            </div>
          </div>
          <div class="divrelative1">
          </div>
          <div class="divjustify-center-center2">
            <img class="svg-icon1" alt="" src="assets/images/after.svg">

          </div>
          <img class="code-1-icon" alt="" src="assets/images/Code.svg">

        </div>
      </div>
    </div>
    <div class="divskiff-border-raised">
      <div class="divflex4">
        <div class="divflex5">
          <div class="heading-3">
            <div class="egestas-viverra-senectus">Egestas viverra senectus?</div>
          </div>
          <div class="spanbody-medium5">
            <div class="sodales-sapien-nullam-container">
              <p class="sodales-sapien-nullam">Sodales sapien nullam duis aenean; erat eget amet. Tellus vulputate</p>
              <p class="sodales-sapien-nullam">sed elementum lobortis nam mus amet.</p>
            </div>
          </div>
          <div class="divbody-medium">
            <div class="spantext-orange-500">
              <div class="claim-credits">Claim credits</div>
            </div>
            <img class="svg-icon4" alt="" src="assets/images/bVector.svg">

          </div>
        </div>
      </div>
      <img class="svg-icon5" alt="" src="assets/images/SVG.svg">

    </div>
    <div class="divflex6">
      <div class="spanbody-medium2">
        <div class="lorem-ipsum3">Lorem Ipsum</div>
      </div>
      <div class="divw-responsive-wide1">
        <div class="link7">
          <img class="dd10fd741430b0f89d8e0380b4c39b-icon" alt=""
            src="assets/images/69dd10fd741430b0f89d8e0380b4c39b27f7784a-403x103.png.png">

          <div class="divflex7">
            <div class="spanbody-large">
              <div class="encryption-bans">At pulvinar pulvinar mi dui efficitur?</div>
            </div>
            <div class="spanbody-medium6">
              <div class="many-in-the">Mollis varius ullamcorper rutrum enim, netus nisi. Nibh magna curabitur
                vestibulum himenaeos eget sollicitudin consectetur velit.</div>
            </div>
          </div>
          <div class="divmt-automargin">
            <div class="divmt-auto">
              <div class="divw-full">
              </div>
              <div class="spanbody-small7">
                <div class="andrew-milich">Lorem Ipsum</div>
              </div>
            </div>
          </div>
        </div>
        <div class="link8">
          <img class="dd10fd741430b0f89d8e0380b4c39b-icon" alt=""
            src="assets/images/5c2913f6e04cceab028319f60ef1d77c3e54f120-403x103.png.png">

          <div class="divflex8">
            <div class="spanbody-large">
              <div class="encryption-bans">At pulvinar pulvinar mi dui efficitur?</div>
            </div>
            <div class="spanbody-medium6">
              <div class="many-in-the">Bibendum lobortis phasellus ornare eu platea nibh. Faucibus nam sit sapien
                feugiat molestie scelerisque dis nec pharetra.Libero faucibus sodales torquent semper</div>
            </div>
          </div>
          <div class="divmt-automargin1">
            <div class="divmt-auto">
              <div class="divw-full">
              </div>
              <div class="spanbody-small8">
                <div class="andrew-milich">Lorem Ipsum</div>
              </div>
            </div>
          </div>
        </div>
        <div class="link8">
          <img class="dd10fd741430b0f89d8e0380b4c39b-icon" alt=""
            src="assets/images/2d04812a3b48fc3ac168daba9f3dd868581770d7-403x103.png.png">

          <div class="divflex8">
            <div class="spanbody-large">
              <div class="encryption-bans">Sodales sapien nullam duis aenean; erat eget amet.</div>
            </div>
            <div class="spanbody-medium6">
              <div class="many-in-the">Sodales sapien nullam duis aenean; erat eget amet. Tellus vulputate sed elementum
                lobortis nam mus amet. Curabitur finibus mus habitasse est porttitor fames. </div>
            </div>
          </div>
          <div class="divmt-automargin1">
            <div class="divmt-auto">
              <div class="divw-full">
              </div>
              <div class="spanbody-small9">
                <div class="andrew-milich">Lorem Ipsum</div>
              </div>
            </div>
          </div>
        </div>
        <div class="link10">
          <img class="dd830a13f4db2c7d541e1a617ec1eb-icon" alt=""
            src="assets/images/1dd830a13f4db2c7d541e1a617ec1eb715610468-403x103.png.png">

          <div class="divflex10">
            <div class="spanbody-large">
              <div class="encryption-bans">Sodales sapien nullam duis aenean; erat eget amet.</div>
            </div>
            <div class="spanbody-medium6">
              <div class="many-in-the">Sodales sapien nullam duis aenean; erat eget amet. Tellus vulputate sed elementum
                lobortis nam mus amet. Curabitur finibus mus habitasse est porttitor fames. </div>
            </div>
          </div>
          <div class="divmt-automargin3">
            <div class="divmt-auto">
              <div class="divw-full">
              </div>
              <div class="spanbody-small10">
                <div class="andrew-milich">Lorem Ipsum</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="carosal">
      <div class="divw-responsive-narrow">
        <div class="divflex11">
          <div class="heading-32">
            <div class="egestas-viverra-senectus">Get the latest in Privacy</div>
          </div>
          <div class="divflex12">
            <img id="btnPrev" class="divh-fit-icon" src="assets/images/backword.svg" (click)="scrollBackward()"
              alt="Back">

            <img id="btnNext" class="divh-fit-icon1" src="assets/images/forword.svg" (click)="scrollForward()"
              alt="Next">

          </div>
        </div>
        <div id="carouselTrack" class="divflex13" #carouselTrack>
          <div class="div">
            <div class="link11">
              <img class="divgroup-icon" alt=""
                src="assets/images/afecb9e0b32f48cf1322de83477f2ddbf37d8ffe-2400x1226.png.png">

              <div class="divflex14">
                <div class="spanbody-small11">
                  <div class="andrew-milich">Skiff Team</div>
                </div>
                <div class="spanbody-medium10">
                  <div class="lorem-ipsum-odor">Lorem ipsum odor amet</div>
                </div>
                <div class="spantext-gray-600">
                  <div class="lorem-ipsum-odor1">Lorem ipsum odor amet, consectetuer adipiscing elit. Id condimentum
                    penatibus dui pulvinar morbi.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="div1">
            <div class="link11">
              <img class="divgroup-icon" alt="" src="assets/images/div.group.png">

              <div class="divflex14">
                <div class="spanbody-small11">
                  <div class="andrew-milich">Guy Serfaty</div>
                </div>
                <div class="spanbody-medium10">
                  <div class="lorem-ipsum-odor">Lorem ipsum odor amet</div>
                </div>
                <div class="spantext-gray-6001">
                  <div class="lorem-ipsum-odor1">Lorem ipsum odor amet, consectetuer adipiscing elit. Id condimentum
                    penatibus dui pulvinar morbi.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="div2">
            <div class="link11">
              <div class="divgroup">
                <img class="f64b6d6c1e7bc3f73f235cb678f387-icon" alt=""
                  src="assets/images/7f64b6d6c1e7bc3f73f235cb678f38793e34b63f-2400x1226.png.png">

              </div>
              <div class="divflex14">
                <div class="spanbody-small11">
                  <div class="andrew-milich">Richard Liu</div>
                </div>
                <div class="spanbody-medium10">
                  <div class="lorem-ipsum-odor">Lorem ipsum odor amet</div>
                </div>
                <div class="spantext-gray-600">
                  <div class="lorem-ipsum-odor1">Lorem ipsum odor amet, consectetuer adipiscing elit. Id condimentum
                    penatibus dui pulvinar morbi.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="div3">
            <div class="link11">
              <img class="divgroup-icon" alt="" src="assets/images/div.group.png">

              <div class="divflex14">
                <div class="spanbody-small11">
                  <div class="andrew-milich">Gilbert Zhang</div>
                </div>
                <div class="spanbody-medium10">
                  <div class="lorem-ipsum-odor">Lorem ipsum odor amet</div>
                </div>
                <div class="spantext-gray-6001">
                  <div class="lorem-ipsum-odor1">Lorem ipsum odor amet, consectetuer adipiscing elit. Id condimentum
                    penatibus dui pulvinar morbi.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="link11">
              <img class="divgroup-icon" alt=""
                src="assets/images/afecb9e0b32f48cf1322de83477f2ddbf37d8ffe-2400x1226.png.png">

              <div class="divflex14">
                <div class="spanbody-small11">
                  <div class="andrew-milich">Skiff Team</div>
                </div>
                <div class="spanbody-medium10">
                  <div class="lorem-ipsum-odor">Lorem ipsum odor amet</div>
                </div>
                <div class="spantext-gray-600">
                  <div class="lorem-ipsum-odor1">Lorem ipsum odor amet, consectetuer adipiscing elit. Id condimentum
                    penatibus dui pulvinar morbi.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="div1">
            <div class="link11">
              <img class="divgroup-icon" alt="" src="assets/images/div.group.png">

              <div class="divflex14">
                <div class="spanbody-small11">
                  <div class="andrew-milich">Guy Serfaty</div>
                </div>
                <div class="spanbody-medium10">
                  <div class="lorem-ipsum-odor">Lorem ipsum odor amet</div>
                </div>
                <div class="spantext-gray-6001">
                  <div class="lorem-ipsum-odor1">Lorem ipsum odor amet, consectetuer adipiscing elit. Id condimentum
                    penatibus dui pulvinar morbi.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="div2">
            <div class="link11">
              <div class="divgroup">
                <img class="f64b6d6c1e7bc3f73f235cb678f387-icon" alt=""
                  src="assets/images/7f64b6d6c1e7bc3f73f235cb678f38793e34b63f-2400x1226.png.png">

              </div>
              <div class="divflex14">
                <div class="spanbody-small11">
                  <div class="andrew-milich">Richard Liu</div>
                </div>
                <div class="spanbody-medium10">
                  <div class="lorem-ipsum-odor">Lorem ipsum odor amet</div>
                </div>
                <div class="spantext-gray-600">
                  <div class="lorem-ipsum-odor1">Lorem ipsum odor amet, consectetuer adipiscing elit. Id condimentum
                    penatibus dui pulvinar morbi.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="div3">
            <div class="link11">
              <img class="divgroup-icon" alt="" src="assets/images/div.group.png">

              <div class="divflex14">
                <div class="spanbody-small11">
                  <div class="andrew-milich">Gilbert Zhang</div>
                </div>
                <div class="spanbody-medium10">
                  <div class="lorem-ipsum-odor">Lorem ipsum odor amet</div>
                </div>
                <div class="spantext-gray-6001">
                  <div class="lorem-ipsum-odor1">Lorem ipsum odor amet, consectetuer adipiscing elit. Id condimentum
                    penatibus dui pulvinar morbi.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div #observeSection class="divrelative2">
      <div class="divskiff-border-raised1">
        <div class="divflex18">
          <div class="divflex19">
            <img *ngFor="let icon of visibleIcons" [src]="icon" alt="" class="link-icon fade-in" />
          </div>

          <div class="heading-11">
            <div class="sodales-sapien-nullam1">Sodales sapien nullam</div>
          </div>
          <div class="pbody-medium">
            <div class="tellus-vulputate-sed">Tellus vulputate sed elementum lobortis nam mus amet. Curabitur finibus
              mus habitasse est porttitor fames. </div>
          </div>
          <div class="button">
            <div class="spanbody-medium1">
              <div class="start-for-free">Start for free</div>
            </div>
            <img class="svg-icon" alt="" src="assets/images/Vector.svg">
            <div class="button-child">
            </div>
          </div>
          <div class="spanbody-small15">
            <div class="free-plan-no1">Free plan • No card required</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>